<% if post.liked_by?(current_user) %>
  <%= link_to post_likes_path(post), method: :delete, class: "btn btn-danger" do %>
    <i class="fas fa-heart"></i>
    Good <span class="badge bg-light text-dark"><%= post.likes.count %></span>
  <% end %>
<% else %>
  <%= link_to post_likes_path(post), method: :post, class: "btn btn-outline-danger" do %>
    <i class="fas fa-heart"></i>
    Good <span class="badge bg-light text-dark"><%= post.likes.count %></span>
  <% end %>
<% end %>