<p style="color: green"><%= notice %></p>

<div class="container">
  <h1>投稿一覧</h1>

  <div id="posts">
    <% @posts.each do |post| %>
      <div class="card mb-3">
        <div class="card-body">
          <%= render post %>
          <p>
            <%= link_to "投稿の詳細", post, class: "btn btn-primary" %>
          </p>
        </div>
      </div>
    <% end %>
  </div>

  <%= link_to "新規投稿", new_post_path, class: "btn btn-primary" %>
</div>
