<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header" style="background-color: #8a2be2; color: white;">
        </div>

        <div class="card-body">
          <%= render @post %>
        </div>

        <div class="card-footer">
          <% if current_user.id == @post.user_id %>
            <div class="text-center" style="margin-top:18px;">
              <div class="btn-group" role="group">
                <%= button_to "投稿を削除する", @post, method: :delete, class: "btn btn-secondary mr-2" %>
                <%= link_to "投稿を編集する", edit_post_path(@post), class: "btn btn-primary mr-2" %>
              </div>
              <div style="margin-top: 10px;">
                <%= link_to "投稿一覧へ戻る", filter_posts_path(@post.role), class: "btn btn-link" %>
              </div>
            </div>
          <% else %>
            <!-- Add any content for users who don't own the post -->
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
